{% load staticfiles i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
     {% block css %}
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <!-- JQVMap -->
    <link rel="stylesheet" href="{% static 'plugins/jqvmap/jqvmap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <!-- summernote -->
    <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!--STYLE personal-->
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
    {% endblock %}

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- *****************
        Header Menu top
        *****************-->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li><img src="{% static 'dist/img/logo.png' %}" alt=""></li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <form class="form-inline mr-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!--Notification Drop-->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" style="border-left:.5px solid #ffffff;">
                        <i class="fas fa-bell" style="color: #ffffff;"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new project
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 users created
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="notification.html" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>

                <!-- Config Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" style="border-left:.5px solid #ffffff;">
                        <i class="fas fa-cog" style="color: #ffffff;"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu dropdown-menu-right">

                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i>Users
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i> Out
                        </a>
                    </div>
                </li>

            </ul>
        </nav>

        <!-- *****************
        Slidebar Right
        **********************-->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #001D2C;">
            <!-- Brand Logo -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="    float: left;">
                <div class="image">
                    <img src="{% static 'dist/img/iconAdmin.png' %}" class="img-circle" alt="User Image">
                </div>

            </div>

            <div class="info">
                <li class="nav-item dropdown" style="list-style: none; padding: 1em;">
                    <a href="#" data-toggle="dropdown" style="color: #ffffff; padding-left: 1em;"> Alexander Pierce
                        &nbsp;&nbsp;&nbsp;<i class="fas fa-sort-down"></i></a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i>Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i> Out
                        </a>
                    </div>
                </li>
            </div>
            <hr>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="menuLeft">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <br>
                        <li class="nav-item active">
                            <a href="{% url 'base:index' %}" class="nav-link">
                                <i class="nav-icon fas fa-home" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Home
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="{% url 'base:show_materials' %}" class="nav-link">
                                <i class="nav-icon fas fa-file-signature" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Materials
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="{% url 'base:show_projects' %}" class="nav-link">
                                <i class="nav-icon fas fa-building" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Projects
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="faseTres.html" class="nav-link">
                                <i class="nav-icon fas fa-calendar-check" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Schedule
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="{% url 'base:users' %}" class="nav-link">
                                <i class="nav-icon fas fa-users" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Users
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="contractor.html" class="nav-link">
                                <i class="nav-icon far fa-address-card" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Contractor
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="notification.html" class="nav-link">
                                <i class="nav-icon fas fa-bell" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Notification
                                </p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="dashboard.html" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Dashboard
                                </p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="setting.html" class="nav-link">
                                <i class="nav-icon fas fa-tools" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Setting
                                </p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview" style="margin-top:8em;">
                            <a href="help.html" class="nav-link">
                                <i class="nav-icon fas fa-comments" style="color:#ababab;"></i>
                                <p style="color:#ababab;">
                                    Help
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

<!-- ***********************
Content page
****************************** -->
        <div class="content-wrapper">
              {% block content %}


        {% endblock %}
        </div>



    </div>
    <!-- ./wrapper -->

    <!-- AdminLTE App -->
     {% block js %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.js' %}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
     {% endblock %}
</body>

</html>