{% extends 'base.html' %}
{% block content %}
<div class="">
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-md-1 mt-4"></div>
                        <div class="col-md-3 mt-4">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center">Material Create</h4>
                                <form role="form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div class="row">

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Name</label>
                                                        {{ form.name }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="environmentsDescription">Description</label>
                                                        {{ form.description }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Image</label>
                                                        <div class="input-group">
                                                            <div class="">
                                                                {{form.image}}

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Category</label>
                                                        {{ form.category }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Subcategory</label>
                                                        {{ form.subcategory }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Items</label>
                                                        {{ form.subcategory_two }}
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Type measure</label>
                                                        {{ form.type_measure }}
                                                    </div>
                                                </div>

                                                <aside class="text-right">
                                                    <button type="button" class="btn btn-danger mt-4"
                                                        data-dismiss="modal">Cancel</button> <button type="submit"
                                                        class="btn btn-primary ml-4 mt-4">Save</button>
                                                </aside>
                                            </div>
                                            <div class="col-sm-1"></div>

                                        </div>
                                    </div>

                                </form>

                            </div>

                        </div>
                        <div class="col-md-1 mt-"></div>
                        <div class="col-md-6 mt-4">
                            <table class="table table-striped projects mt-3" style="background:#ffffff;">
                                <thead>
                                    <tr>
                                        <th style="width: 5%">
                                            ID
                                        </th>
                                        <th style="width: 20%">
                                            Name
                                        </th>

                                        <th style="width: 20%">
                                            Description
                                        </th>
                                        <th style="width: 10%">
                                            Category
                                        </th>
                                        <th style="width: 10%">
                                            Subcategory
                                        </th>
                                        <th style="width: 20%">
                                            Items
                                        </th>
                                        <th style="width: 25%">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for material in materials %}
                                    <tr>
                                        <td>
                                            {{forloop.counter}}
                                        </td>
                                        <td>
                                            {{material.name}}
                                        </td>
                                        <td>
                                            {{material.description}}
                                        </td>
                                        <td>
                                            {{material.category}}
                                        </td>
                                        <td>
                                            {{material.subcategory}}
                                        </td>
                                        <td>
                                            {{material.subcategory_two}}
                                        </td>
                                        <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="{% url 'base:view_material' material.id %}">
                                                <i class="far fa-eye" style="color: #ffffff;"></i>
                                            </a>
                                            <a class="btn btn-info btn-sm" href="{% url 'base:edit_material' material.id %}">
                                                <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                                </i>
                                            </a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'base:delete_material' material.id %}">
                                                <i class="fas fa-trash" style="color: #ffffff;">
                                                </i>
                                            </a>
                                        </td>
                                    </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled"
                                                id="example1_previous">
                                                <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0"
                                                    class="page-link">
                                                    Previous
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item active">
                                                <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                    class="page-link">
                                                    1
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                    class="page-link">
                                                    2
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item next" id="example1_next">
                                                <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0"
                                                    class="page-link">
                                                    Next
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 mt-4"></div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}