{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center">Subcategory Edit</h4>
                                <form role="form" method="POST">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div class="row">

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Name</label>
                                                        {{ form.first_name}}
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Last name</label>
                                                        {{ form.last_name}}
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Position</label>
                                                        {{ form.position}}
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Phone</label>
                                                        {{ form.phone_number}}
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Account manager</label>
                                                        {{ form.responsible_account}}
                                                    </div>



                                                    <div class="form-group">
                                                        <label>Project</label>
                                                        {{ form.project_name}}
                                                    </div>

                                                </div>


                                                <aside class="text-right">
                                                    <button type="button" class="btn btn-danger mt-4"
                                                        data-dismiss="modal">Cancel</button> <button type="submit"
                                                        class="btn btn-primary ml-4 mt-4">Save</button>
                                                </aside>
                                            </div>
                                            <div class="col-sm-1"></div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}