{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center m-2">Material Environment Edit</h4>
                                <form role="form" method="post">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Environments</label>
                                                            {{form.environment}}
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Area environment</label>
                                                            {{form.area_environment}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Materials</label>
                                                            {{form.material}}
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Materials Unity</label>
                                                            {{form.material_unity}}
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row pl-4 pb-2">

                                                      <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="environmentsDescription">Type materials</label>
                                                            {{form.type_material}}
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Unit price</label>
                                                            {{form.unity_price}}
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">It's propose?</label>
                                                            {{form.is_proposal}}
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Total price</label>
                                                            {{form.total_price}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <aside class="text-right">
                                                    <button type="button" class="btn btn-danger mt-4"
                                                        data-dismiss="modal">Cancel</button> <button type="submit"
                                                        class="btn btn-primary ml-4 mt-4">Save</button>
                                                </aside>
                                            </div>
                                            <div class="col-sm-1"></div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}