{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
             <!-- Content Header (Page header) -->
             <section class="content-header mb-2">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="users.html">Users</a></li>
                                <li class="breadcrumb-item active">Edit</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <section class="content-header mb-4" id="userEdit">
                <div class="container-fluid">
                    <div class="row mt-5">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-1">

                            <div class="callout">
                                <h4 class="modal-title text-left ml-2 mb-3">Users Edit</h4>
                                <form role="form" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <b class="text-center" style="color: #9E3639;">Create users</b>
                                            <div class="form-group mt-4">
                                                {{form.first_name}}
                                            </div>
                                            <div class="form-group">
                                                {{form.last_name}}
                                            </div>
                                            <div class="form-group">
                                                {{form.document_number}}
                                            </div>
                                            <div class="form-group">
                                                {{form.phone_number}}
                                            </div>
                                            <div class="form-group">
                                                {{form.email}}
                                            </div>
                                            <div class="form-group">
                                                {{form.address}}
                                            </div>
                                            <div class="form-group">
                                                {{form.role}}
                                            </div>
                                            <div class="form-group">
                                                {{form.project}}
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{form.password1}}
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btnSubcategory mt-2" style="color: #ffffff !important;
                                            font-size: .85em !important;">Create</button>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
        </div>

{% endblock %}