{% extends 'base.html' %}
{% block content %}
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header mb-4">
        <div class="container-fluid">
            <div class="row mt-5 mb-2">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 mt-5">

                    <div class="callout callout-info">
                        <h4 class="modal-title text-center">Environments Edit</h4>
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Name</label>
                                                {{ form.name }}
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <label for="environmentsDescription">Description</label>
                                                {{ form.description }}
                                            </div>

                                            <aside class="text-right">
                                                <a href="{% url 'base:enviroments' %}"><button type="button" class="btn btn-danger mt-4"
                                                                                                        data-dismiss="modal">Cancel</button></a>
                                                <button type="submit"
                                                    class="btn btn-primary ml-4 mt-4">Save</button>
                                            </aside>
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

</div>


{% endblock %}