{% extends 'base.html' %}
{% block content %}

  <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center m-2">Project Edit</h4>
                                <form role="form" method="post">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Name</label>
                                                            {{form.name}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Address</label>
                                                            {{form.address}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">City</label>
                                                            {{form.city}}
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">State</label>
                                                            {{form.state}}
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row pl-4 pb-2">

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Zip Code</label>
                                                            {{form.zip_code}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Project Owner</label>
                                                            {{form.owner_project}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Macro Schedule</label>
                                                            {{form.macro_schedule}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Contact</label>
                                                            {{form.contact_fk}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Building</label>
                                                            {{form.building}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Apartament</label>
                                                            {{form.apartment}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Floor</label>
                                                                {{form.floor}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <aside class="text-right">
                                                    <button type="button" class="btn btn-danger mt-4"
                                                        data-dismiss="modal">Cancel</button> <button type="submit"
                                                        class="btn btn-primary ml-4 mt-4">Save</button>
                                                </aside>
                                            </div>
                                            <div class="col-sm-1"></div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>
{% endblock %}