{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center">State Edit</h4>
                                <form role="form" method="post">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="">
                                            <div class="row">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-10">

                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        {{form.name}}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Commentary</label>
                                                        {{form.commentary}}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Assessment</label>
                                                        {{form.assessment}}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Percentage</label>
                                                        {{form.percentage}}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Users</label>
                                                        {{form.user}}
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Apartament</label>
                                                        {{form.apartment}}
                                                    </div>
                                                    <button type="button" class="btn btn-danger mt-4"
                                                    data-dismiss="modal">Cancel</button> <button type="submit"
                                                    class="btn btn-primary ml-4 mt-4">Save</button>
                                            </aside>
                                                </div>
                                                <div class="col-sm-1"></div>

                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}