{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center m-2">Immovables model Edit</h4>
                                <form role="form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Name</label>
                                                            {{ form.name }}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Environments</label>
                                                            {{ form.environment }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Elements by environments</label>
                                                            <div class="input-group">
                                                                <div class="custom-file">
                                                                  {{ form.image_flat }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Materials Environments</label>
                                                            {{ form.environment_material }}
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row pl-4 pb-2">

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Provider</label>
                                                            {{ form.provider }}
                                                        </div>
                                                    </div>

                                                </div>

                                                <aside class="text-right">
                                                    <button type="button" class="btn btn-danger mt-4"
                                                        data-dismiss="modal">Cancel</button> <button type="submit"
                                                        class="btn btn-primary ml-4 mt-4">Save</button>
                                                </aside>
                                            </div>
                                            <div class="col-sm-1"></div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}