{% extends 'base.html' %}
{% block content %}
           <!-- ***********************
        Content page
        ****************************** -->
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header mb-4">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Home</a></li>
                        <li class="breadcrumb-item active">environments</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-md-4 ">
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <b class="text-center" style="color: #9E3639;">Create environments</b>
                                    <div class="form-group mt-4">
                                        <label for="environmentsName">Name</label>
                                        {{form.name}}
                                    </div>
                                    <div class="form-group">
                                        <label for="environmentsDescription">Description</label>
                                        {{form.description}}
                                    </div>

                                    <button type="submit" class="btn btn-block btn-success btn-sm mt-4">Create</button>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-7">
                        <table class="table table-striped projects mt-5" style="background:#ffffff;">
                            <thead>
                                <tr>
                                    <th style="width: 1%">
                                        ID
                                    </th>
                                    <th style="width: 25%">
                                        Name
                                    </th>
                                    <th style="width: 35%">
                                        Description
                                    </th>

                                    <th style="width: 35%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                 {% for enviroment in enviroments %}
                                <tr>
                                    <td>
                                        {{forloop.counter}}
                                    </td>
                                    <td>
                                        <a>
                                            {{enviroment.name}}
                                        </a>
                                        <br />
                                        <small>
                                            {{enviroment.created_at}}
                                        </small>
                                    </td>
                                    <td>
                                        {{enviroment.description}}
                                    </td>

                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" href="{% url 'base:view_enviroment' enviroment.id  %}">
                                            <i class="far fa-eye" style="color: #ffffff;"></i>
                                        </a>
                                        <a class="btn btn-info btn-sm" href="{% url 'base:edit_enviroment' enviroment.id  %}">
                                            <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                            </i>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'base:delete_enviroment' enviroment.id  %}">
                                            <i class="fas fa-trash" style="color: #ffffff;">
                                            </i>
                                        </a>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="example1_previous">
                                            <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0"
                                                class="page-link">
                                                Previous
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item active">
                                            <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                class="page-link">
                                                1
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                class="page-link">
                                                2
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item next" id="example1_next">
                                            <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0"
                                                class="page-link">
                                                Next
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
{% endblock %}