{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container">
                    <div class="container">
                        <!-- Small boxes (Stat box) -->
                        <div class="row" style="padding-top:5em;">
                            <!-- ./col -->
                            <div class="col-md-3"> </div>
                            <div class="col-md-2">
                                <!-- small box -->
                                <div class="small-box bg-info" style="background-color: #fff!important;">

                                    <button type="button" class="btn btn-default" role="link" onclick="window.location.href='{% url 'base:show_materials' %}'">
                                        Materials
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- small box -->
                                <div class="small-box bg-info" style="background-color: #fff!important;">
                                    <button type="button" class="btn btn-default" role="link" onclick="window.location.href='{% url 'base:show_projects' %}'">
                                        Projects
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- small box -->
                                <div class="small-box bg-info" style="background-color: #fff!important;">
                                    <button type="button" class="btn btn-default" role="link" onclick="window.location='faseTres.html'">
                                        Schedule
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3"> </div>

                            <div class="col-md-3"> </div>
                            <div class="col-md-2">
                                <!-- small box -->
                                <div class="small-box bg-info" style="background-color: #fff!important;">

                                    <button type="button" class="btn btn-default" role="link" onclick="window.location='providers.html'">
                                        Providers
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- small box -->
                                <div class="small-box bg-info" style="background-color: #fff!important;">
                                    <button type="button" class="btn btn-default" role="link" onclick="window.location.href='{% url 'base:users' %}'">
                                        Users
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- small box -->
                                <div class="small-box bg-info" style="background-color: #fff!important;">
                                    <button type="button" class="btn btn-default" role="link" onclick="window.location='dashboard.html'">
                                        Dashboard
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3"> </div>

                            <div class="col-md-3"> </div>
                            <div class="col-md-2">
                                <!-- small box -->
                                <div class="small-box bg-info" style="background-color: #fff!important;">

                                    <button type="button" class="btn btn-default"role="link" onclick="window.location='notification.html'">
                                        Notifications
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- small box -->
                                <div class="small-box bg-info" style="background-color: #fff!important;">
                                    <button type="button" class="btn btn-default" role="link" onclick="window.location='setting.html'">
                                        Setting
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- small box -->
                                <div class="small-box bg-info" style="background-color: #fff!important;">

                                </div>
                            </div>
                            <div class="col-md-3"> </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- Main row -->
                </div>
            </section>
        </div>
{% endblock %}