{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
            <!--Miga-->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Materials</a></li>
                                <li class="breadcrumb-item active">All</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!--Contenido-->
            <div class="row mt-3">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-10 col-md-10">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-justified" id="TabFaseUno" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab"
                                aria-controls="all" aria-selected="true">All</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="category-tab" data-toggle="tab" href="#category" role="tab"
                                aria-controls="category" aria-selected="false">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="materials-tab" data-toggle="tab" href="#materials" role="tab"
                                aria-controls="materials" aria-selected="false">Materials</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="providers-tab" data-toggle="tab" href="#providers" role="tab"
                                aria-controls="providers" aria-selected="false">Providers</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all-tab">
                            <div class="card-header mt-5">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="input-group-prepend" >
                                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                &nbsp;&nbsp;
                                                <button type="button" class="btn  btn-secondary btn-xs">Import</button>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                              </div>

                              <div class="card-body table-responsive p-0">
                                <table class="table table-striped projects mt-3" style="background:#ffffff;">
                                    <thead>
                                        <tr>

                                            <th style="width: 15%">
                                                Category
                                            </th>
                                            <th style="width: 15%">
                                                Subcategory
                                            </th>
                                            <th style="width: 15%">
                                                Subcategory 2
                                            </th>
                                            <th style="width: 15%">
                                                Materials
                                            </th>
                                            <th style="width: 15%">
                                                Providers
                                            </th>

                                            <th style="width: 25%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>
                                               Category 1
                                            </td>
                                            <td>
                                               Subcategory 1
                                            </td>
                                            <td>
                                                Subcategory 2
                                            </td>
                                            <td>
                                             Material 1
                                            </td>
                                            <td>
                                                Providers 1
                                             </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" data-toggle="modal"
                                                    data-target="#modal-viewEnvironments">
                                                    <i class="far fa-eye" style="color: #ffffff;"></i>
                                                </a>
                                                <a class="btn btn-info btn-sm" data-toggle="modal"
                                                    data-target="#modal-editEnvironments">
                                                    <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                                    </i>
                                                </a>
                                                <a class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash" style="color: #ffffff;">
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                              </div>

                        </div>
                        <div class="tab-pane" id="category" role="tabpanel" aria-labelledby="category-tab">
                            <div class="card-body mt-5 p-0">
                                <div class="row">
                                    <div class="col-md-4 ">
                                        <form role="form">
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <b class="text-center" style="color: #000;">Create
                                                        Category</b>
                                                    <div class="form-group mt-3">
                                                        <input type="text" class="form-control" id="Name"
                                                            placeholder="Name">
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <select class="form-control">
                                                                    <option>Subcategory</option>
                                                                    <option>option 2</option>
                                                                    <option>option 3</option>
                                                                    <option>option 4</option>
                                                                    <option>option 5</option>
                                                                  </select>
                                                            </div> &nbsp;&nbsp;
                                                            <input type="text" class="form-control" id="other"
                                                            placeholder="other">
                                                        </div>
                                                        <button type="button" class="btn btn-block btn-secondary btn-xs mt-2">Save</button>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <select class="form-control">
                                                                    <option>Subcategory 2</option>
                                                                    <option>option 2</option>
                                                                    <option>option 3</option>
                                                                    <option>option 4</option>
                                                                    <option>option 5</option>
                                                                  </select>
                                                            </div> &nbsp;&nbsp;
                                                            <input type="text" class="form-control" id="other"
                                                            placeholder="other">
                                                        </div>
                                                        <button type="button" class="btn btn-block btn-secondary btn-xs mt-2">Save</button>
                                                    </div>


                                                    <button type="button"
                                                        class="btn btnCategory mt-2">Create</button>
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="text-right"><button class="btn btn-flat btn-sm" style="background: #001D2C;color: #fff;">Exportar</button></p>
                                        <table class="table table-striped projects mt-3" style="background:#ffffff;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%">
                                                        ID
                                                    </th>
                                                    <th style="width: 20%">
                                                        Category
                                                    </th>
                                                    <th style="width: 25%">
                                                        Subcategory
                                                    </th>
                                                    <th style="width: 25%">
                                                        Subcategory 2
                                                    </th>

                                                    <th style="width: 30%">
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                       Category 1
                                                    </td>
                                                    <td>
                                                       Subcategory 2
                                                    </td>
                                                    <td>
                                                        Electrica
                                                    </td>

                                                    <td class="project-actions text-right">
                                                        <a class="btn btn-primary btn-sm" data-toggle="modal"
                                                            data-target="#modal-viewEnvironments">
                                                            <i class="far fa-eye" style="color: #ffffff;"></i>
                                                        </a>
                                                        <a class="btn btn-info btn-sm" data-toggle="modal"
                                                            data-target="#modal-editEnvironments">
                                                            <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                                            </i>
                                                        </a>
                                                        <a class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash" style="color: #ffffff;">
                                                            </i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="dataTables_paginate paging_simple_numbers"
                                                    id="example1_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled"
                                                            id="example1_previous">
                                                            <a href="#" aria-controls="example1" data-dt-idx="0"
                                                                tabindex="0" class="page-link">
                                                                Previous
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item active">
                                                            <a href="#" aria-controls="example1" data-dt-idx="1"
                                                                tabindex="0" class="page-link">
                                                                1
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item ">
                                                            <a href="#" aria-controls="example1" data-dt-idx="2"
                                                                tabindex="0" class="page-link">
                                                                2
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item next" id="example1_next">
                                                            <a href="#" aria-controls="example1" data-dt-idx="7"
                                                                tabindex="0" class="page-link">
                                                                Next
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="materials" role="tabpanel" aria-labelledby="materials-tab">
                            <div class="card-body mt-5 p-0">
                                <div class="row">
                                    <div class="col-md-5">
                                        <form role="form">
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <b class="text-center" style="color: #000;">Create
                                                        Material</b>

                                                    <div class="form-group mt-3">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="Name"
                                                            placeholder="Name">&nbsp;&nbsp;
                                                            <input type="text" class="form-control" id="Reference"
                                                            placeholder="Reference">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="2"
                                                            placeholder="Description"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="Color"
                                                            placeholder="Color">&nbsp;&nbsp;
                                                            <input type="text" class="form-control" id="Price"
                                                            placeholder="Price">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                          <option>Measured type</option>
                                                          <option>option 2</option>
                                                          <option>option 3</option>
                                                          <option>option 4</option>
                                                          <option>option 5</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group" id="materialGroup">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span style="font-size: .85rem !important;">Area&nbsp;</span>
                                                            </div>
                                                            <div class="input-group-prepend">
                                                                <input type="text" size=1 class="form-control"  name="base" id="base"> <span>&nbsp;x&nbsp;</span><input type="text" size=1 class="form-control" id="altura" name="altura">
                                                            </div><span>&nbsp;=&nbsp;</span>
                                                            <input type="text" class="form-control"   name="total" placeholder="Total">
                                                        </div>
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1">
                                                               <small style="font-size: .6rem !important;">Use calculation of the material area for the other processes</small> </label>
                                                          </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="customFile">
                                                                <label class="custom-file-label" for="customFile">Icon</label>
                                                            </div>&nbsp;&nbsp;
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="customFile">
                                                                <label class="custom-file-label" for="customFile">File</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <select class="form-control">
                                                                <option>Environment</option>
                                                                <option>option 2</option>
                                                                <option>option 3</option>
                                                                <option>option 4</option>
                                                                <option>option 5</option>
                                                              </select>&nbsp;&nbsp;
                                                              <select class="form-control">
                                                                <option>Category</option>
                                                                <option>option 2</option>
                                                                <option>option 3</option>
                                                                <option>option 4</option>
                                                                <option>option 5</option>
                                                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <select class="form-control">
                                                                <option>Subcategory</option>
                                                                <option>option 2</option>
                                                                <option>option 3</option>
                                                                <option>option 4</option>
                                                                <option>option 5</option>
                                                              </select>&nbsp;&nbsp;
                                                              <select class="form-control">
                                                                <option>Subcategory 2</option>
                                                                <option>option 2</option>
                                                                <option>option 3</option>
                                                                <option>option 4</option>
                                                                <option>option 5</option>
                                                              </select>
                                                        </div>
                                                    </div>


                                                    <button type="button"
                                                        class="btn btnMaterials mt-2">Create</button>
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="text-right"><button class="btn btn-flat btn-sm" style="background: #001D2C;color: #fff;">Exportar</button></p>
                                        <table class="table table-striped projects mt-3" style="background:#ffffff;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%">
                                                        ID
                                                    </th>
                                                    <th style="width: 20%">
                                                        Name
                                                    </th>
                                                    <th style="width: 10%">
                                                        Type
                                                    </th>
                                                    <th style="width: 15%">
                                                        Category
                                                    </th>
                                                    <th style="width: 15%">
                                                        Project
                                                    </th>

                                                    <th style="width: 40%">
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                       Material 1
                                                    </td>
                                                    <td>
                                                        M2
                                                    </td>
                                                    <td>
                                                        Category 1
                                                    </td>
                                                    <td>
                                                        Project 1
                                                    </td>

                                                    <td class="project-actions text-right">
                                                        <a class="btn btn-primary btn-sm" data-toggle="modal"
                                                            data-target="#modal-viewEnvironments">
                                                            <i class="far fa-eye" style="color: #ffffff;"></i>
                                                        </a>
                                                        <a class="btn btn-info btn-sm" data-toggle="modal"
                                                            data-target="#modal-editEnvironments">
                                                            <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                                            </i>
                                                        </a>
                                                        <a class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash" style="color: #ffffff;">
                                                            </i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="dataTables_paginate paging_simple_numbers"
                                                    id="example1_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled"
                                                            id="example1_previous">
                                                            <a href="#" aria-controls="example1" data-dt-idx="0"
                                                                tabindex="0" class="page-link">
                                                                Previous
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item active">
                                                            <a href="#" aria-controls="example1" data-dt-idx="1"
                                                                tabindex="0" class="page-link">
                                                                1
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item ">
                                                            <a href="#" aria-controls="example1" data-dt-idx="2"
                                                                tabindex="0" class="page-link">
                                                                2
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item next" id="example1_next">
                                                            <a href="#" aria-controls="example1" data-dt-idx="7"
                                                                tabindex="0" class="page-link">
                                                                Next
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="providers" role="tabpanel" aria-labelledby="providers-tab">
                            <div class="card-body mt-5 p-0">
                                <div class="row">
                                    <div class="col-md-4 ">
                                        <form role="form">
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <b class="text-center" style="color: #000;">Create
                                                        Providers</b>
                                                    <div class="form-group mt-3">
                                                        <input type="text" class="form-control" id="Name"
                                                            placeholder="Name">
                                                    </div>

                                                    <div class="form-group">
                                                       <input type="number" class="form-control" data-format="+1 (ddd) ddd-dddd"
                                                       placeholder="Phone">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="email" class="form-control"
                                                        placeholder="Email">
                                                     </div>
                                                     <div class="form-group">
                                                        <input type="text" class="form-control"
                                                        placeholder="Address">
                                                     </div>
                                                     <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="city" placeholder="City">&nbsp;&nbsp;
                                                            <input type="text" class="form-control" id="state" placeholder="State">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                        placeholder="Zip code">
                                                     </div>
                                                     <div class="form-group">
                                                        <select class="form-control">
                                                          <option>Contact</option>
                                                          <option>option 2</option>
                                                          <option>option 3</option>
                                                          <option>option 4</option>
                                                          <option>option 5</option>
                                                        </select>
                                                    </div>

                                                    <button type="button"
                                                        class="btn btnSubcategory mt-2">Create</button>
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="text-right"><button class="btn btn-flat btn-sm" style="background: #001D2C;color: #fff;">Exportar</button></p>
                                        <table class="table table-striped projects mt-3" style="background:#ffffff;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%">
                                                        ID
                                                    </th>
                                                    <th style="width: 20%">
                                                        Name
                                                    </th>
                                                    <th style="width: 25%">
                                                        Category
                                                    </th>
                                                    <th style="width: 25%">
                                                        Subcategory 2
                                                    </th>

                                                    <th style="width: 30%">
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                      Subcategori 5
                                                    </td>
                                                    <td>
                                                       Category 1
                                                    </td>
                                                    <td>
                                                        others
                                                    </td>

                                                    <td class="project-actions text-right">
                                                        <a class="btn btn-primary btn-sm" data-toggle="modal"
                                                            data-target="#modal-viewEnvironments">
                                                            <i class="far fa-eye" style="color: #ffffff;"></i>
                                                        </a>
                                                        <a class="btn btn-info btn-sm" data-toggle="modal"
                                                            data-target="#modal-editEnvironments">
                                                            <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                                            </i>
                                                        </a>
                                                        <a class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash" style="color: #ffffff;">
                                                            </i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="dataTables_paginate paging_simple_numbers"
                                                    id="example1_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled"
                                                            id="example1_previous">
                                                            <a href="#" aria-controls="example1" data-dt-idx="0"
                                                                tabindex="0" class="page-link">
                                                                Previous
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item active">
                                                            <a href="#" aria-controls="example1" data-dt-idx="1"
                                                                tabindex="0" class="page-link">
                                                                1
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item ">
                                                            <a href="#" aria-controls="example1" data-dt-idx="2"
                                                                tabindex="0" class="page-link">
                                                                2
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item next" id="example1_next">
                                                            <a href="#" aria-controls="example1" data-dt-idx="7"
                                                                tabindex="0" class="page-link">
                                                                Next
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>




        </div>

{% endblock %}