{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
            <!--Miga-->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Projects</a></li>
                                <li class="breadcrumb-item active">All</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!--Contenido-->
            <div class="row mt-3">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-10 col-md-10">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-justified" id="TabFaseUno" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab"
                                aria-controls="all" aria-selected="true">All</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="environments-tab" data-toggle="tab" href="#environments" role="tab"
                                aria-controls="environments" aria-selected="false">Environments</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all-tab">
                            <div class="card-header mt-5">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="input-group-prepend" >
                                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                &nbsp;&nbsp;
                                                <button type="button" class="btn  btn-secondary btn-xs">Import</button>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                              </div>

                              <div class="card-body table-responsive p-0">
                                <table class="table table-striped projects mt-3" style="background:#ffffff;">
                                    <thead>
                                        <tr>

                                            <th style="width: 15%">
                                                Category
                                            </th>
                                            <th style="width: 15%">
                                                Subcategory
                                            </th>
                                            <th style="width: 15%">
                                                Subcategory 2
                                            </th>
                                            <th style="width: 15%">
                                                Materials
                                            </th>
                                            <th style="width: 15%">
                                                Providers
                                            </th>

                                            <th style="width: 25%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>
                                               Category 1
                                            </td>
                                            <td>
                                               Subcategory 1
                                            </td>
                                            <td>
                                                Subcategory 2
                                            </td>
                                            <td>
                                             Material 1
                                            </td>
                                            <td>
                                                Providers 1
                                             </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" data-toggle="modal"
                                                    data-target="#modal-viewEnvironments">
                                                    <i class="far fa-eye" style="color: #ffffff;"></i>
                                                </a>
                                                <a class="btn btn-info btn-sm" data-toggle="modal"
                                                    data-target="#modal-editEnvironments">
                                                    <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                                    </i>
                                                </a>
                                                <a class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash" style="color: #ffffff;">
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                              </div>

                        </div>
                        <div class="tab-pane" id="environments" role="tabpanel" aria-labelledby="environments-tab">
                            <div class="card-body mt-5 p-0">
                                <div class="row">
                                    <div class="col-md-4 ">
                                        <form role="form">
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <b class="text-center" style="color: #000;">Create
                                                        environments</b>
                                                    <div class="form-group mt-3">
                                                        <input type="text" class="form-control" id="Name"
                                                            placeholder="Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="2"
                                                            placeholder="Description"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option>Measured type</option>
                                                            <option>option 2</option>
                                                            <option>option 3</option>
                                                            <option>option 4</option>
                                                            <option>option 5</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group"  id="infoGroup">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span style="font-size: .85rem !important;">Area&nbsp;</span>
                                                            </div>
                                                            <div class="input-group-prepend">
                                                                <input type="text" size=1 class="form-control"  name="base" id="base"> <span>&nbsp;x&nbsp;</span><input type="text" size=1 class="form-control" id="altura" name="altura">
                                                            </div><span>&nbsp;=&nbsp;</span>
                                                            <input type="text" class="form-control"   name="total" placeholder="Total">
                                                        </div>
                                                        <div class="form-group">
                                                            <span style="font-size: .85rem !important;">Perimeter = </span>
                                                        </div>
                                                    </div>


                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="customFile">
                                                        <label class="custom-file-label" for="customFile">Icon</label>
                                                    </div>

                                                    <div class="form-group">
                                                        <select class="form-control selectpicker" multiple data-live-search="true">
                                                            <option>Mustard</option>
                                                            <option>Ketchup</option>
                                                            <option>Relish</option>
                                                          </select>
                                                    </div>

                                                    <button type="button"
                                                        class="btn btnEnvironment mt-4">Create</button>
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="text-right"><button class="btn btn-flat btn-sm" style="background: #001D2C;color: #fff;">Exportar</button></p>
                                        <table class="table table-striped projects mt-3" style="background:#ffffff;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%">
                                                        ID
                                                    </th>
                                                    <th style="width: 10%">
                                                        Icon
                                                    </th>
                                                    <th style="width: 25%">
                                                        Environments
                                                    </th>
                                                    <th style="width: 30%">
                                                        Description
                                                    </th>

                                                    <th style="width: 30%">
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        <img class="iconTable" src="dist/img/kitchen.png"
                                                            alt="Icon kitchen">
                                                    </td>
                                                    <td>
                                                        <a>
                                                            Name Example
                                                        </a>
                                                        <br />
                                                        <small>
                                                            Created 01.01.2019
                                                        </small>
                                                    </td>
                                                    <td>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    </td>

                                                    <td class="project-actions text-right">
                                                        <a class="btn btn-primary btn-sm"  href="environment_view.html">
                                                            <i class="far fa-eye" style="color: #ffffff;"></i>
                                                        </a>
                                                        <a class="btn btn-info btn-sm" href="environment_edit.html">
                                                            <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                                            </i>
                                                        </a>
                                                        <a class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash" style="color: #ffffff;">
                                                            </i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="dataTables_paginate paging_simple_numbers"
                                                    id="example1_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled"
                                                            id="example1_previous">
                                                            <a href="#" aria-controls="example1" data-dt-idx="0"
                                                                tabindex="0" class="page-link">
                                                                Previous
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item active">
                                                            <a href="#" aria-controls="example1" data-dt-idx="1"
                                                                tabindex="0" class="page-link">
                                                                1
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item ">
                                                            <a href="#" aria-controls="example1" data-dt-idx="2"
                                                                tabindex="0" class="page-link">
                                                                2
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item next" id="example1_next">
                                                            <a href="#" aria-controls="example1" data-dt-idx="7"
                                                                tabindex="0" class="page-link">
                                                                Next
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>




        </div>

{% endblock %}