{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active">Providers</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div>
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8 mt-3">
                                        <a href="{% url 'base:create_contact' %}"><button type="button"
                                                class="btn btn-block btn-outline-secondary btn-lg"
                                                style="background-color:#ffffff;">Create Contact</button></a>
                                        <br>
                                        <a href="{% url 'base:create_provider' %}"><button type="button"
                                                class="btn btn-block btn-outline-secondary btn-lg"
                                                style="background-color:#ffffff;">Create Provider</button></a>

                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <table class="table table-striped projects mt-3" style="background:#ffffff;">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%">
                                                ID
                                            </th>

                                            <th style="width: 20%">
                                                Contact
                                            </th>
                                            <th style="width: 20%">
                                                Provider
                                            </th>
                                            <th style="width: 25%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for provider in providers %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter}}
                                            </td>

                                            <td>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        {{ provider.contact}}
                                                    </li>

                                                </ul>
                                            </td>
                                            <td>
                                                {{ provider.name}}
                                            </td>
                                            <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="{% url 'base:view_provider' provider.id %}">
                                                <i class="far fa-eye" style="color: #ffffff;"></i>
                                            </a>
                                            <a class="btn btn-info btn-sm" href="{% url 'base:edit_provider' provider.id %}">
                                                <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                                </i>
                                            </a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'base:delete_provider' provider.id %}">
                                                <i class="fas fa-trash" style="color: #ffffff;">
                                                </i>
                                            </a>
                                        </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled"
                                                    id="example1_previous">
                                                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0"
                                                        class="page-link">
                                                        Previous
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                        class="page-link">
                                                        1
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                        class="page-link">
                                                        2
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item next" id="example1_next">
                                                    <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0"
                                                        class="page-link">
                                                        Next
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </section>
        </div>

{% endblock %}