{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="users.html">Users</a></li>
                                <li class="breadcrumb-item active">Create</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content" id="usersCreate">

                <!-- Default box -->
                <div>
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-4 ">
                                <form role="form" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <b class="text-center" style="color: #9E3639;">Create users</b>
                                            <div class="form-group mt-4">
                                                {{form.first_name}}
                                            </div>
                                            <div class="form-group">
                                                {{form.last_name}}
                                            </div>
                                            <div class="form-group">
                                                {{form.document_number}}
                                            </div>
                                            <div class="form-group">
                                                {{form.phone_number}}
                                            </div>
                                            <div class="form-group">
                                                {{form.email}}
                                            </div>
                                            <div class="form-group">
                                                {{form.address}}
                                            </div>
                                            <div class="form-group">
                                                {{form.role}}
                                            </div>
                                            <div class="form-group">
                                                {{form.project}}
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{form.password1}}
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btnSubcategory mt-2" style="color: #ffffff !important;
                                            font-size: .85em !important;">Create</button>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-7">
                                <table class="table table-striped projects mt-5" style="background:#ffffff;">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%">
                                                Name
                                            </th>
                                            <th style="width: 10%">
                                                Rol
                                            </th>
                                            <th style="width: 15%">
                                                Phone
                                            </th>
                                            <th style="width: 25%">
                                                email
                                            </th>
                                            <th style="width: 30%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td>
                                                {{user.first_name}}
                                            </td>
                                            <td>
                                                {{user.role}}
                                            </td>
                                            <td>
                                                {{user.phone_number}}
                                            </td>
                                            <td>
                                                {{user.email}}
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" href="{% url 'base:view_user' %}">
                                                    <i class="far fa-eye" style="color: #ffffff;"></i>
                                                </a>
                                                <a class="btn btn-info btn-sm" href="{% url 'base:edit_user' %}">
                                                    <i class="fas fa-pencil-alt" style="color:#ffffff;">
                                                    </i>
                                                </a>
                                                <a class="btn btn-danger btn-sm" href="{% url 'base:delete_user' %}">
                                                    <i class="fas fa-trash" style="color:#ffffff;">
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                         {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled"
                                                    id="example1_previous">
                                                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0"
                                                        class="page-link">
                                                        Previous
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                        class="page-link">
                                                        1
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                        class="page-link">
                                                        2
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item next" id="example1_next">
                                                    <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0"
                                                        class="page-link">
                                                        Next
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
{% endblock %}