{% extends 'base.html' %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header mb-4">
    <div class="container-fluid">
        <div class="row mt-5 mb-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 mt-5">

                <div class="callout callout-info">
                    <h4 class="modal-title text-center">Floor Details</h4>
                    <form role="form">
                        <div class="card-body">
                            <div class="">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <h5>Number</h5>
                                            <p>{{floor.number}}</p>
                                        </div>
                                        <div class="form-group">
                                            <h5>Building</h5>
                                            <p>{{floor.building}}</p>
                                        </div>
                                        <div class="form-group">
                                            <h5>Wing</h5>
                                            <p>{{floor.wing}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>

                                </div>

                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

{% endblock %}