{% extends 'base.html' %}
{% block content %}
<div class="">
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center pt-4">Provider Details</h4>

                                <form role="form">
                                    <div class="card-body">
                                        <div class="row p-4">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Name</h5>
                                                    <p>{{ provider.name}} </p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Phone</h5>
                                                    <p>{{ provider.phone_number}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pl-4 pb-4">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Email</h5>
                                                    <p>{{ provider.email}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Company address</h5>
                                                    <p>{{ provider.address_company}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pl-4 pb-4">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Activity</h5>
                                                    <p>{{ provider.activity}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>State</h5>
                                                    <p>{{ provider.state}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pl-4 pb-4">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Zip Code</h5>
                                                    <p>{{ provider.zip_code}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>contact</h5>
                                                    <p>{{ provider.contact}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>
{% endblock %}