{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center">Item Details</h4>
                                <form role="form">
                                    <div class="card-body">
                                        <div class="">
                                            <div class="row">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <h5>Name Item</h5>
                                                        <p>{{subcategorytwo.name}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1"></div>

                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}