{% extends 'base.html' %}
{% block content %}
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header mb-4">
        <div class="container-fluid">
            <div class="row mt-5 mb-2">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 mt-5">

                    <div class="callout callout-info">
                        <h4 class="modal-title text-center">Environment Details</h4>

                        <form role="form">
                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <div class="infoGroup">
                                                <h5>Environment Name</h5>
                                                <p>{{enviroment.name}}</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-10">
                                            <div class="infoGroup">
                                                <h5>Description</h5>
                                                <p>{{enviroment.description}}</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

</div>

{% endblock %}