{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center">Material Details</h4>
                                <form role="form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div class="row p-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Name</h5>
                                                            <p>{{material.name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Description</h5>
                                                            <p>{{material.description}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pl-4 pb-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Category</h5>
                                                            <p>{{material.category}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Subcategory</h5>
                                                            <p>{{material.subcategory}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pl-4 pb-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Items</h5>
                                                            <p>{{material.subcategory_two}}</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Type measure</h5>
                                                            <p>{{material.type_measure}}</p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row pl-4 pb-4">

                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Image</h5>
                                                            {% if user.image == "" %}
                                                            <p><i class="far fa-image" style="font-size: 150px;"></i></p>
                                                            {% else %}
                                                            <img style="" src="/media/{{ material.image }}" width="300px" width="300px" />
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1"></div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}