{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-3 mb-2">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center mb-4">Category Details</h4>
                                <form role="form">
                                    <div class="card-body">
                                        <div class="">
                                            <div class="row">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <h5>Name category</h5>
                                                        <p>{{ category.name }}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <h5>Name subcategory</h5>
                                                        <p>{{ category.subcategory.name }}</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <h5>Environments</h5>
                                                        <p> {{ category.enviroment.name }}</p>
                                                    </div>
                                                    <aside class="text-right">
                                                        <button type="button" class="btn btn-danger mt-4"
                                                            data-dismiss="modal">Cancel</button>
                                                    </aside>
                                                </div>
                                                <div class="col-sm-1"></div>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}