{% extends 'base.html' %}
{% block content %}
<div class="">
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center pt-4">Contact Details</h4>

                                <form role="form">
                                    <div class="card-body">
                                        <div class="row p-4">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Name</h5>
                                                    <p>{{ contact.first_name}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Last name</h5>
                                                    <p>{{ contact.last_name}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pl-4 pb-4">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Position</h5>
                                                    <p>{{ contact.position}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Phone</h5>
                                                    <p>{{ contact.phone_number}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pl-4 pb-4">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Account manager</h5>
                                                    <p>{{ contact.responsible_account}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="infoGroup">
                                                    <h5>Project</h5>
                                                    <p>{{ contact.project_name}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}
