{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center m-2">Project Details</h4>
                                <form role="form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Name</h5>
                                                            <p>{{project.name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Address</h5>
                                                            <p>{{project.address}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>City</h5>
                                                            <p>{{project.city}}</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>State</h5>
                                                            <p>{{project.state}}</p>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row pl-4 pb-2">

                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Zip code</h5>
                                                            <p>{{project.zip_code}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Project Owner</h5>
                                                            <p>{{project.owner_project}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Macro Schedule</h5>
                                                            <p>{{project.macro_schedule}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Contact</h5>
                                                            <p>{{project.contact_fk}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Building</h5>
                                                            <p>{{project.building}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Apartament</h5>
                                                            <p>{{project.apartment}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pl-4 pb-2">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Floor</h5>
                                                            <p>{{project.floor}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <aside class="text-right">
                                                    <button type="button" class="btn btn-danger mt-4"
                                                        data-dismiss="modal">Cancel</button> <button type="submit"
                                                        class="btn btn-primary ml-4 mt-4">Save</button>
                                                </aside>
                                            </div>
                                            <div class="col-sm-1"></div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}
