{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center">Immovables Model Details</h4>
                                <form role="form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div class="row p-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Name</h5>
                                                            <p>{{ model.name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Environments</h5>
                                                            <p>{{ model.environment}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pl-4 pb-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Elements by environments</h5>
                                                            {% if user.image == "" %}
                                                            <p><i class="far fa-image" style="font-size: 150px;"></i></p>
                                                            {% else %}
                                                            <img style="" src="/media/{{ model.image_flat }}" width="300px" width="300px" />
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Material environments</h5>
                                                            <p>{{ model.environment_material }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pl-4 pb-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Provider</h5>
                                                            <p>{{ model.provider }}</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-1"></div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>
{% endblock %}