{% extends 'base.html' %}
{% block content %}
<div class="">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5 mb-2">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-5">

                            <div class="callout callout-info">
                                <h4 class="modal-title text-center">Material Environment Details</h4>
                                <form role="form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div class="row p-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Environments</h5>
                                                            <p>{{material_environment.environment}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Area environments</h5>
                                                            <p>{{material_environment.area_environment}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pl-4 pb-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Material</h5>
                                                            <p>{{material_environment.material}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Type material</h5>
                                                            <p>{{material_environment.type_material}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pl-4 pb-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Unit price</h5>
                                                            <p>${{material_environment.unity_price}}</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>It's proposed?</h5>
                                                            <p>{{material_environment.is_proposal}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row pl-4 pb-4">
                                                    <div class="col-sm-6">
                                                        <div class="infoGroup">
                                                            <h5>Total price</h5>
                                                            <p>${{material_environment.total_price}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1"></div>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

{% endblock %}